ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #14bbdc;
    background-color:rgb(42, 126, 165);
    
}
li{
     float: left;

}
li a{
    display: block;
    color: #0d0d0c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active)
{
    background-color: rgb(122, 187, 244);
    
}
li a.active
{
    color: rgb(96, 188, 238);
    background-color: rgb(43, 192, 226);

}
h1{
     text-align: center;
}



.mb-85 { margin-bottom: 85px; }

.signup-form {
	width: 500px;
	margin: 0 auto;
	padding-top: 20px;
    padding-left: 10px;		
}

.signup-form form{
	color:black;
	border-style: solid;
	margin-bottom: 15px;
	background:whitesmoke;
	box-shadow:white;
	padding: 30px;
}

.signup-form h2 {
	color:black;
    text-align: center;
	font-weight: bold;
	margin-top: 0;
}
.displayBadge{
    margin-top: 5%; 
    display: none; 
    text-align :center;
    width:100%;
}
